include views/partials/head.pug

div(class="container")
  h1(class="text-center") Productos coder
  form(action="/" method="POST")
    div(class="form-group")
      label(for="nombre") Nombre
      input(type="text"
        class="form-control"
        id="nombre"
        placeholder="Nombre"
        name="nombre")
    div( class="form-group")
      label( for="Precio") Precio
      input(
        type="number"
        class="form-control"
        id="precio"
        placeholder="Precio"
        name="precio")
    div(class="form-group")
      label( for="imagen") Url imagen
      input(
        type="text"
        class="form-control"
        id="urlImagen"
        placeholder="urlImagen"
        name="urlImagen")
      button(class="btn btn-success m-3" type="submit") Guardar
    
      
  a(href="productos" class="btn btn-primary m-3") Ver productos

